@font-face {
  font-family: "iconfont"; /* Project id 4326540 */
  src: url('iconfont.woff2?t=1700893546157') format('woff2'),
       url('iconfont.woff?t=1700893546157') format('woff'),
       url('iconfont.ttf?t=1700893546157') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-arrowleft:before {
  content: "\e693";
}

.icon-arrowup:before {
  content: "\e695";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-add:before {
  content: "\e637";
}

.icon-close:before {
  content: "\e6dc";
}

.icon-search:before {
  content: "\e6e1";
}

.icon-minus:before {
  content: "\e6ba";
}

.icon-check:before {
  content: "\e645";
}

.icon-eye-close:before {
  content: "\e66f";
}

.icon-view:before {
  content: "\e847";
}

